/* Media queries para páxinas 40X */
@media only screen and (min-device-width : 768px) {
    h1.page-header {
        position: absolute;
        top: 3em;
        left: 1em;
        text-align: center;
        color: #FFF;
        background-color: #000;
        opacity: 0.6;
        font-size: 3em;
        font-weight: bold;
        padding: 0.4em;
        border: 0 !important;;
        transform: rotate(270deg);
        z-index: 100;
    }

    div.region-content {
        position: relative;
        top: 0;
    }
}